<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        {% if is_granted("ROLE_EMPLOYEE") %}
         <th>Priority</th>
        {% endif %}
        <th>Created on</th>
        <th>Status</th>
        <th>Go to</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.title }}</td>
            {% if is_granted("ROLE_EMPLOYEE") %}
            <td>{{ ticket.priority }}</td>
            {% endif %}
            <td>{{ ticket.dateCreated ? ticket.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ ticket.status.name }}</td>
            <td>
                <a href="{{ path('ticket', {'id': ticket.id}) }}">Details</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
