{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <main class="container mb-5 pb-5">
        <h1 class="text-center m-5">Tickets</h1>

        <div class="mb-5 d-flex justify-content-end">
            {% if is_granted('ROLE_FIRST_LINE_AGENT') %}
                <a class="btn btn-primary" href="{{ path('open_tickets') }}">All open
                    tickets</a>
            {% elseif is_granted('ROLE_CUSTOMER') %}
                <a class="btn btn-primary self-align-right"
                   href="{{ path('ticket_new') }}">Create
                    new
                    ticket</a>
            {% endif %}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Created on</th>
                <th>Go to</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.status.name }}</td>
                    <td>{{ ticket.dateCreated ? ticket.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('ticket_show', {'id': ticket.id}) }}">Details</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
