{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}

    <h1>Ticket</h1>
    {% if is_granted('ROLE_CUSTOMER') %}
        {{ include('ticket/_ticket_reopen.html.twig') }}
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ ticket.priority }}</td>
            </tr>
            <tr>
                <th>IsEscalated</th>
                <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ ticket.dateCreated ? ticket.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateClosed</th>
                <td>{{ ticket.dateClosed ? ticket.dateClosed|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{#    <p>{{ comment.content }}</p>#}

    {% for comment in ticket.comments %}
        <h4>{{ comment.createdBy.email }}</h4>
        <p>{{ comment.content }}</p>
    {% endfor %}


        {{ form_start(comment_form) }}
        {{ form(comment_form) }}
        {{ form_end(comment_form) }}




    <a href="{{ path('ticket_index') }}">back to list</a>

    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
