{% extends 'base.html.twig' %}

{% block title %}Ticket {{ ticket.id }}{% endblock %}

{% block body %}
    <main class="container mb-5 pb-5">
        <h1 class="text-center m-5">Ticket {{ ticket.id }}</h1>

        <div class="mb-5 d-flex justify-content-end">
            <a class="btn btn-primary m-1" href="{{ path('ticket_index') }}">Back to all
                tickets</a>

            {% if is_granted('ROLE_MANAGER') %}
                <a class="btn btn-primary m-1"
                   href="{{ path('ticket_edit', {'id': ticket.id}) }}">Edit</a>
            {% endif %}

            {% if ticket.assignedTo is null and (is_granted('ROLE_FIRST_LINE_AGENT') or is_granted('ROLE_SECOND_LINE_AGENT')) %}
                <div class="m-1">
                    {{ include('ticket/_ticket_assign.html.twig') }}
                </div>
            {% endif %}

            {% if is_granted('ROLE_CUSTOMER') and ticket.status.id != wontFixId and ticket.status.name == 'closed' %}

                <div class="m-1">
                    {{ include('ticket/_ticket_reopen.html.twig') }}
                </div>
            {% endif %}
            {% if is_granted('ROLE_EMPLOYEE') and ticket.status.name != 'closed' and ticket.assignedTo is not null %}
                <div class="m-1">
                    {{ include('ticket/_ticket_close.html.twig') }}
                </div>
            {% endif %}
            {% if is_granted('ROLE_EMPLOYEE') and ticket.isEscalated == false %}
                <div class="m-1">
                    {{ include('ticket/_ticket_escalate.html.twig') }}
                </div>
            {% endif %}
        </div>


        <table class="table">
            <tbody>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ ticket.priority }}</td>
            </tr>
            <tr>
                <th>Escalated</th>
                <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created on</th>
                <td>{{ ticket.dateCreated ? ticket.dateCreated|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            {% if ticket.dateClosed is not null %}
                <tr>
                    <th>Closed on</th>
                    <td>{{ ticket.dateClosed ? ticket.dateClosed|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        {# <p>{{ comment.content }}</p> #}

        <div>
            {% for comment in ticket.comments %}
                {% if is_granted('ROLE_CUSTOMER') and comment.isPublic == true or is_granted('ROLE_EMPLOYEE') %}
                    <h4>{{ comment.createdBy.email }}</h4>
                    <p>{{ comment.content }}</p>
                {% endif %}
            {% endfor %}

        </div>

        {% if is_granted('ROLE_CUSTOMER') or is_granted('ROLE_MANAGER') or ticket.assignedTo == user %}
            {% form_theme comment_form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(comment_form) }}
            {{ form(comment_form) }}
            {{ form_end(comment_form) }}
        {% endif %}

    </main>
{% endblock %}
